html {
	background-color: lightgray;
}
.container1 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: gray;
}
#navbar {
	text-align: right;
}
.container2 {
	display: grid;
	grid-template-rows: 1fr 1fr;
}
#form {
	text-align: center;
	background-color: yellow;
}
.container3 {
	display: grid;
	grid-template-columns; 1fr 1fr;
}
/*
@media (maxwidth: 350px){
	.mobilecontainer {
		display: grid;
		grid-template-rows: 1fr 1fr 1fr 1fr;
	}
}
*/
#red {
	background-color: red;
	text-align: center;
}
#green {
 	background-color: green;
	text-align: center;
}
#blue {
	background-color: blue;
	text-align: center;
}
#black {
	background-color: black;
	text-align: center;
	color: white;
}
#white {
	background-color: white;
	text-align: center;
}
#footer {
	background-color: gray;
	text-align: center;
}
